# Serwer
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.1

# Baza danych
sqlalchemy==2.0.36

# Szyfrowanie danych
cryptography==44.0.0

# Testy
pytest==8.3.4
httpx==0.28.1

# Biometria
insightface==1.0.1
onnxruntime==1.26.0
opencv-python==4.13.0.92
numpy==2.4.6
